h1{
font-size: 30px;
text-align: center;
color: #EFA69F
}

body{
font-size: 16px;
font-family: Helvetica, sans-serif;
color: #EFA69F;
}

body {
     background-color: #AFEEEE;
     background-image: url(/Users/ireneha/Documents/creation_site/images/stardust.png

